*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    text-decoration: underline;
}

ul.topnav li.center {
    padding-left:45%;
}

ul.topnav li.right {float: right;}



.hero-image {
    background-image: url("https://i.pinimg.com/originals/3b/a2/44/3ba244351f5746f3a0ad08fd28e666ff.jpg");
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.about{
    text-align: center;
}

div.gallery img {
    width: 100%;
    height: auto;
    padding: 0 px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
.phingpara{
    text-align: center;
    padding: 40px;
}
.issepara{
    text-align: center;
    padding: 40px;
}
@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
    ul.topnav li.center{ display: none}
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}